.section {
    margin: 10px 0;
    background: white;
    transition: 2s;
}

.section__header {
    padding: 10px 20px;
    border-bottom: 3px solid #eee;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
}



@media (max-width: 767px) {
    .section__header {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto auto;
    }

}

.section__title {
    font-size: 20px;
    padding: 10px;
    margin: 0;
}

.section__body {
    padding: 10px;
}

@media (max-width: 767px) {
    .ssection__body {
        grid-template-columns: 1fr;
    }
}