.list {
    list-style-type: none;
    padding: 0px;
}

.list__container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    align-items: center;
}

@media (max-width: 767px) {
    .list__textButtons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

.list__textButtonsButton {
     border: none;
    background-color: transparent;
    color: hsl(180, 100%, 25%);
    transition: color 0.5s;
    margin: 0 0 0 20px;
}

@media (max-width: 767px) {
    .list__textButtonsButton {
        flex-wrap: wrap;
    }
}


.list__textButtonsButton:hover {
    color: hsl(180, 100%, 30%);
}

.list__textButtonsButton:active {
    color: hsl(180, 100%, 35%);
}

.list__textButtonsButton:disabled {
    color: #aaa;
}

.list__item {
    word-break: break-word;
    align-items: center;
}

.list__item--hidden {
    display: none;
}

.list__item--done {
    text-decoration: line-through;
}

.list__button {
    border: none;
    color: white;
    width: 30px;
    height: 30px;
    padding: 0;
    transition: 1s;
}

.list__button--done {
    background-color: hsl(120, 100%, 30%);
}

.list__button--done:hover {
    background-color: hsl(120, 100%, 38%);
}

.list__button--done:active {
    background-color: hsl(120, 100%, 46%);
}

.list__button--remove {
    background-color: hsl(0, 100%, 40%);
    transition: 2s;
}

.list__button--remove:hover {
    background-color: hsl(0, 100%, 55%);
}

.list__button--remove:active {
    background-color: hsl(0, 100%, 65%);
}